@model SmsServer.Models.Race
@using SmsServer.Models
@{
    ViewBag.Title = "Detajler";
    var answers = (List<AnswerStatForRace>)ViewBag.AnswersForRace;
    var scores = (Dictionary<Team, float>)ViewBag.TeamScores;
}

<h2>Detajler</h2>
<div>
    <h4>Race</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Løbsnavn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Start tidspunkt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            Slut tidspunkt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            Kontakt navn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            Kontakt nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            Gateway kode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatewayCode)
        </dd>

        <dt>
            Gateway nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatewayNumber)
        </dd>
    </dl>
</div>
<hr />
<div>
    <h4>App oplysninger</h4>
    <dl class="dl-horizontal">
        <dt>
            Race id
        </dt>

        <dd>
            @Model.Id
        </dd>

        <dt>Gateway kode</dt>
        <dd>@Model.GatewayCode</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Opret post", "CreatePost", new { id = Model.Id }) |
    @Html.ActionLink("Se poster", "ListPosts", new { id = Model.Id }) |
    @Html.ActionLink("Print poster", "ShowPosts", new { id = Model.Id, printPosts = true }) |
    @Html.ActionLink("Se point for hold", "GetPointResultForRace", new { id = Model.Id }) |
    @Html.ActionLink("Tilbage til oversigt", "Index")
</p>

<div>
    <h4>Besvarelser</h4>
    <table class="table" id="resultTable">
        <thead>
            <tr>
                <th>Hold</th>
                <th>Korrekt besvaret</th>
                <th>Antal poster besvaret korrekt/ej korrekt</th>
                <th>Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in answers)
            {
                <tr>
                    <td>@(item.Team != null ? item.Team.TeamName : "Intet hold")</td>
                    <td>@(item.CorrectAnswerChosen ? "Ja" : "Nej")</td>
                    <td>@item.count</td>
                    <td>@(item.Team != null ? scores[item.Team] : 0.0f)</td>
                    <td>@if (item.Team != null)
                    { <span>@Html.ActionLink("Slet", "Delete", "Teams", new { id = item.Team.Id }, null)</span> }</td>

            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#resultTable').DataTable();
        });
    </script>
}
