@model SmsServer.Models.Race

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Race</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatewayCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatewayCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatewayNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatewayNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Opret post", "CreatePost", new { id = Model.Id }) |
    @Html.ActionLink("Se poster", "ListPosts", new { id = Model.Id }) |
    @Html.ActionLink("Print poster", "ShowPosts", new { id = Model.Id, printPosts = true }) |
    @Html.ActionLink("Back to List", "Index")
</p>
