@model SmsServer.Models.Race

@{
    ViewBag.Title = "ShowPosts";
}

@if (ViewBag.PrintPosts)
{
    <text>Posterne printes</text>
}

<h2>Opret hold</h2>
@{
    var createTeam = "#ct#" + Model.Id + "#" + "<HOLD ID>" + "#" + "<HOLD NAVN>"+ "#";
    var createTeamComplete = "smsto:" + Model.GatewayNumber + ":" + createTeam;
}
<div class="qrcode">
@Html.GenerateRelayQrCode("hest", createTeamComplete, height: 150, width: 150, margin: 5)
</div>
<div class="createteamtext">
    Send: @createTeam to @Model.GatewayNumber Husk at erstatte hold id og hold navn
</div>
<div class="linefeed"></div>


@foreach (var item in Model.Posts) {
    <hr />
    <div class="Post">
            <h3>@item.Title</h3>
        <p>
            @item.Text
        </p>
        <div class="PostImage">
            @if (item.Image != null)
                {
                <img src="@Url.Action("GetImage", "Posts", new { id=item.Id})" />
            }
        </div>
        <div class="row">
            @foreach (var ans in item.Answers)
            {
                <div class="answer col-md-4">
                    <h4>@ans.Title</h4>
                    <p>@ans.Text</p>
                    @if (ans.Image != null)
                    {
                        <img src="@Url.Action("GetImage", "PostAnswers", new { id=ans.Id})" />
                    }
                    @{
                        var answerText = "#ic#" + Model.Id + "#" + item.Id + "#" + ans.Id + "#";
                        var completeText = "smsto:" + Model.GatewayNumber + ":" + answerText;
                    }
                    <div class="qrcode">
                        @Html.GenerateRelayQrCode("hest", completeText, height:150, width:150, margin:5)
                    </div>
                    <div class="PostAnswerText">
                        Send: @answerText to @Model.GatewayNumber
                    </div>
                </div>
                        }
        </div>
    </div>
    <div class="linefeed"></div>
}

