@model SmsServer.Models.Race

@{
    ViewBag.Title = "Print poster";
}

@if (ViewBag.PrintPosts)
{
    <text>Posterne printes</text>
}

<h2>Opret hold</h2>
@{
    var createTeam = "#ct#" + Model.Id + "#" + "<HOLD ID>" + "#" + "<HOLD NAVN>"+ "#";
    var createTeamComplete = "smsto:" + Model.GatewayNumber + ":" + createTeam;
}
<div class="qrcode">
    @Html.GenerateRelayQrCode("hest", createTeamComplete, height: 150, width: 150, margin: 5)
</div>
<div class="createteamtext">
    Send: @createTeam to @Model.GatewayNumber Husk at erstatte hold id og hold navn
</div>
@{
    var teams = (List<SmsServer.Models.Team>)ViewBag.Teams;
}
@if (teams.Count > 0)
{
    <h3>Tilmeld dig et eksiterende hold</h3>
    foreach (var t in teams)
    {
        <h5>@t.HoldID - @t.TeamName</h5>
        createTeam = "#ct#" + Model.Id + "#" + t.HoldID + "#" + t.TeamName + "#";
        createTeamComplete = "smsto:" + Model.GatewayNumber + ":" + createTeam;
        <div class="qrcode">
            @Html.GenerateRelayQrCode("hest", createTeamComplete, height: 150, width: 150, margin: 5)
        </div>
        <div class="createteamtext">
            Send: @createTeam to @Model.GatewayNumber Husk at erstatte hold id og hold navn
        </div>
    }
}
<div class="linefeed"></div>


@foreach (var item in Model.Posts) {
    <hr />
    <div class="Post">
            <h3>@item.Title</h3>
        <h5>Post ID: @item.Id</h5>
        <p>
            @if (item.Race.ShowWebAnswerQR)
            {
                <div class="qrcode">
                    Besvar posten på nettet
                    @Html.GenerateRelayQrCode("hest", @Url.Action("AnswerPost", "Home", new { postid = item.Id }, this.Request.Url.Scheme), height: 150, width: 150, margin: 5)
                </div>
            }
        </p>
        <p>
            @item.Text
        </p>
        <div class="PostImage">
            @if (item.IsImageOnDisk || item.Image != null)
                {
                <img src="@Url.Action("GetImage", "Posts", new { id=item.Id})" />
            }
        </div>
        <div class="row">
            @foreach (var ans in item.Answers)
            {
                <div class="answer col-xs-6 col-md-4">
                    <h4>@ans.Title</h4>
                    <p>@ans.Text</p>
                    @if (ans.IsImageOnDisk || ans.Image != null)
                    {
                        <img src="@Url.Action("GetImage", "PostAnswers", new { id=ans.Id})" />
                    }
                    @{
                        var answerText = "#ic#" + Model.Id + "#" + item.Id + "#" + ans.Id + "#";
                        var completeText = "smsto:" + Model.GatewayNumber + ":" + answerText;
                    }
                    <div class="qrcode">
                        @Html.GenerateRelayQrCode("hest", completeText, height:150, width:150, margin:5)
                    </div>
                    <div class="PostAnswerText">
                        Send: @answerText to @Model.GatewayNumber
                    </div>
                </div>
                        }
        </div>
    </div>
    <hr />
    <div class="postmetadata">
        <p>
            Kontakt @Model.Contact på @Model.ContactNumber hvis du har nogle spørgsmål.
        </p>
        <p>
            Løbet starter @Model.Start og slutter @Model.End
        </p>
        <p>
            Når du besvarer en post vil dit nummber blive gemt på serveren, men bliver slettet senest fire (4) timer efter løbets afslutningstid.
        </p>
    </div>
    <div class="linefeed"></div>
}

