@model SmsServer.Models.PostAnswer

@{
    ViewBag.Title = "Detajler";
}

<h2>Detajler</h2>

<div>
    <h4>Svar mulighed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Tekst
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            Antal point
        </dt>

        <dd>
            @Model.PointValue
        </dd>

        @if (Model.NextPost != null)
        {
            <dt>Næste post</dt>
            <dd>
                @Html.ActionLink(Model.NextPost.Title, "Details", "Posts", new { id = Model.NextPost.Id }, null)
            </dd>
        }
        @if (Model.Image != null || Model.IsImageOnDisk)
        {
            <dt>Billede</dt>
            <dd>
                <img src="@Url.Action("GetImage", "PostAnswers", new { id=Model.Id})" />
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tilbage til oversigten", "Index")
</p>
