@model IEnumerable<SmsServer.Models.PostAnswer>

@{
    ViewBag.Title = "Svar muligheder";
}

<h2>Svar muligheder</h2>

<p>
    @Html.ActionLink("Opret ny svar mulighed", "Create")
    @Html.ActionLink("Alle poster", "Index", "Posts")
</p>
<table class="table">
    <tr>
        <th>
            Svar titel
        </th>
        <th>
            Svar tekst
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @if (item.CorrectAnswer)
            {
                @Html.ActionLink("Fjern som korrekt svar", "UnsetCorrectAnswer", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Sæt som korrekt svar", "SetCorrectAnswer", new { id = item.Id })
            }
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detajler", "Details", new { id=item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
