@model SmsServer.Models.Post
@using SmsServer.Models
@{
    ViewBag.Title = "Details";
    var answers = (List<AnswerStatForPost>)ViewBag.AnswersForPost;
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswerText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrongAnswerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrongAnswerText)
        </dd>
        @if (Model.Image != null)
        {
            <dt>Billede:</dt>
            <dd>
                <img src="@Url.Action("GetImage", "Posts", new { id=Model.Id})" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <h4>Besvarelser</h4>
    <table class="table">
        <tr>
            <th>Hold</th>
            <th>Antal besvarelser</th>
            <th>Antal forkerte besvarelser</th>
        </tr>
        @foreach (var item in answers)
        {
            <tr>
                <td>@(item.Team != null ? item.Team.TeamName : "Intet hold")</td>
                <td>@item.CountOfAnswers</td>
                <td>@item.CountOfIncorrectAnswers</td>
            </tr>
        }
    </table>
</div>
