@model SmsServer.Models.Post

@{
    ViewBag.Title = "Rediger";
}

<h2>Rediger</h2>


@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2">Post titel</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Post tekst</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Post placering</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Placement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Placement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tekst ved korrekt svar</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorrectAnswerText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorrectAnswerText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tekst ved forkert svar</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.WrongAnswerText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WrongAnswerText, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Image != null || Model.IsImageOnDisk)
        {
            <div class="form-group">
                <label class="control-label col-md-2">Nuværende billede:</label>
                <div class="col-md-10">
                    <img src="@Url.Action("GetImage", "Posts", new { id=Model.Id})" />
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Evt. billede</label>
            <div class="col-md-10">
                <input type="file" name="Image" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opdater" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til oversigten", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
