@model IEnumerable<SmsServer.Models.Post>

@{
    ViewBag.Title = "Poster";
}

<h2>Poster</h2>

<p>
    @Html.ActionLink("Opret ny", "Create") - 
    @if (Model.Count() > 0)
    {
        Html.ActionLink("Placer poster på kort", "PlacePost", new { raceid = Model.First().Race.Id });
    }
</p>
<table class="table">
    <tr>
        <th>
            Post titel
        </th>
        <th>
            Post tekst
        </th>
        <th>
            Placering
        </th>
        <th>
            Tekst ved korrekt svar
        </th>
        <th>
            Tekst ved forkert svar
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Text))
            {
                <span>@string.Join(string.Empty, item.Text.Take(200))</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAnswerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrongAnswerText)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailjer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Opret Svar", "CreateAnswer", new { id = item.Id }) |
            @Html.ActionLink("Se svarmuligheder", "ListAnswers", new { id = item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
